// Principale
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

// Utilitaires Couleurs fond
$background-color-grey: #EAEAEA;
$background-color-lightgrey: #F6F6F6;
$background-color-darkgrey: #353535;
$background-color-white: #FFFFFF;

// Utilitaires Couleurs divers
$color-grey-i: #7E7E7E;


// Textes
$text-color-darkgrey: #353535;
$text-color-white: #FFFFFF;
$text-color-black: #000000;
$text-color-green: #008766;

//style
$btn-radius: 25px;
$card-radius: 20px;

//  heart effect
$heart-stop-color: #9356DC;
$heart-start-color: #FF79DA;

// Loader
$anim_time: 2.1; // main pan/pancake animation (in seconds)
$flatten_deg: 85; // how round will the pancake be at the top/peak (in deg), affecting general animation though so not really adjustable
$angle: 27; // max pan's angle while flipping (in deg)
$peak: 40%; // pancake's highest level ! 
$color_back: #EAEAEA; // background
$color: #9356DC; // all elements


//media queries
// (desktop: 1440px, tablette:1024px, mobile: 768px);
$breakpoints-tablette: 1024px;
$breakpoints-desktop: 1200px;
$breakpoints-max-width: 1440px;
