// Principale
$primary-color : #9356DC;
$secondary-color : #FF79DA;
$tertiary-color : #99E2D0;

// Utilitaires Couleurs
$background-color-grey: #EAEAEA;
$background-color-lightgrey: #f6f6f6;
$background-color-darkgrey : #353535;
$background-color-white : #FFFFFF;

// Textes
$text-color-darkgrey: #353535;
$text-color-white : #FFFFFF;
$text-color-black : #000000;

//button style
$btn-radius : 25px;